pandas
shapely
fiona
geopandas
osmium
rapidfuzz
googlemaps
transliterate
postal
diagrams
psycopg2
pdfplumber
PyPDF2>=3.0.0
pymupdf
openpyxl
geopy
requests
csvkit
pytesseract
pillow
pyhanko
telethon
python-dotenv
tqdm
bs4
pdf2image
pymorphy2
asn1crypto
osmnx
socks
pytest  # (optional, for testing)
fpdf2